@media (min-width: 48rem) {

    main {
        gap: 7.4rem;
        margin-top: 8rem;
    }

    .main-info p {
        max-width: 54rem;
    }

    .cards-section {
        grid-template-areas:
            "supervisor supervisor"
            "teamBuilder karma"
            "calculator calculator"
        ;
        place-items: center;
    }

}



@media (min-width: 64rem) {

    main {
        margin-top: 10.2rem;
    }

    .cards-section {
        grid-template-areas:
            ". teamBuilder ."
            "supervisor teamBuilder calculator"
            "supervisor karma calculator"
            ". karma ."
        ;
        place-items: center;
    }

    .card {
        max-width: 35rem;
    }
}

@media (min-width: 90rem){
    .card{
        min-width: 35rem;
    }
}