:root {
    --supervisor-color: #44D3D2;
    --team-builder-color: #EA5454;
    --karma-color: #FCAE4A;
    --calculator-color: #549EF2;
    --card-color: #FFFFFF;
    --text-color: #6A7178;
    --title-color: #4D4F62;
    --background-color: #FAFAFA
}

.text-preset-1 {
    font-size: clamp(2.4rem, 5vw, 3.6rem);
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.025rem;
    text-align: center;
    color: var(--title-color);
}

.text-preset-2 {
    font-size: clamp(2.4rem, 5vw, 3.6rem);
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.025rem;
    text-align: center;
    color: var(--title-color);
}

.text-preset-3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0;
    color: var(--title-color);
}

.text-preset-4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    color: var(--title-color);
}

.text-preset-5 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    color: var(--text-color);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    margin: 5.6rem 3rem;
    gap: 6rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info h2 {
    margin-bottom: 1.6rem;
}

.main-info p{
    max-width: 31.6rem;
}

.cards-section{
    display: grid;
    
    gap: 3.2rem;
    justify-content: center;
    grid-template-areas: 
        "supervisor"
        "teamBuilder" 
        "karma"
        "calculator"
    ;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    border-radius: 0.8rem;
    border-top: solid 0.4rem;
    box-shadow: 0 1.5rem 3rem -1.1rem #83A6D280;
    width: 31.4rem;
    min-height: 25rem;
    background-color: var(--card-color);
}

.card h3 {
    margin-bottom: 0.6rem;
}

.card p {
    margin-bottom: 3.2rem;
}

.card div {
    display: flex;
    justify-content: flex-end;
}

.supervisor{
    grid-area: supervisor;
    border-color: var(--supervisor-color);
}

.team-builder{
    grid-area: teamBuilder;
    border-color: var(--team-builder-color);
}

.karma{
    grid-area: karma;
    border-color: var(--karma-color);
}

.calculator{
    grid-area: calculator;
    border-color: var(--calculator-color);
}