:root {
    --supervisor-color: #44D3D2;
    --team-builder-color: #EA5454;
    --karma-color: #FCAE4A;
    --calculator-color: #549EF2;
    --card-color: #FFFFFF;
    --text-color: #6A7178;
    --title-color: #4D4F62;
}

.text-preset-1{
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.025rem;
}

.text-preset-2{
    font-size: 3.6rem;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.025rem;
}

.text-preset-3{
    font-size: 2rem;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0;
}

.text-preset-4{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
}

.text-preset-5{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
}
