:root {
    --supervisor-color: #44D3D2;
    --team-builder-color: #EA5454;
    --karma-color: #FCAE4A;
    --calculator-color: #549EF2;
    --card-color: #FFFFFF;
    --text-color: #6A7178;
    --title-color: #4D4F62;
}